:root {
    --background: #D7FFFA;
    --Text-background: #E2FFF5;
    --text: #5745FF;
    --border-width: 5px;
    --textstyle: underline;
}

* {
    box-sizing:border-box
    color var(--text);
}

body {
    font-family: sans-serif;
    font-size: 20px;
    background-color: var(--background);
    line-height: 1.5;
}

header {
    padding: 20px;
    background-color: silver;
    width:auto;
    margin: auto auto;
    font-size: 36px;
    display: flex;
    justify-content:space-around;
    text-align: center;
}

h1 {
    color: var(--text);
    font-size: 120%;
}

nav {
    display: flex;
    flex-direction:row;
    list-style-type: none;
    font-size: 24px;
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
    margin: 15px;
}

.hero-image {
    background-position:center
    height: 200px;
    padding: 20px;
    background-image: url("/assets/images/Untitled-design.png");
}

.overlay-text {
    z-index: index 1;
    font-size: 130%;
    color: white;
    display: inline-block;
    margin-left: 63vw;
}

.container{
    display:flex;
    flex-direction:column;
}

.layer {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.sidebar {
    max-width:30%;
    flex: 1 1 30%;
}

.content {
    flex: 1 1 70%;
}

#paragraph {
    justify-content:left;
    max-width: 67%;
    padding-right: 3%;
}

.sidetag {
    text-align:right;
    font-size: 150%;
    padding-right: 15%;
}

.picture-grid {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.picture-grid > * {
    flex:1 1 6em;
}

.image {
    height: 30vh;
    width: 30vw;
    justify-content: space-between;
    opacity:80%;
}

.big-picture {
    height: auto;
    width: 64.7vw;
    opacity:80%;
}

.overlay {
    position:absolute;
    margin-top: -8%;
    border-style: dotted;
    border-width: 2px;
    border-color: navy;
    background-color: VAR(--Text-background);
    opacity: 85%;
    padding: .5% 1.5% .8% .5%;
    color: var(--text);
}

.subtext {
    position: absolute;
    margin-top: -2.8%;
    color: var(--text);
    font-style:italic;
    font-size: 65%;
    padding-left:.5%
}

.bottom {
    justify-content: space-evenly;
    display:inline-block;
    text-decoration:none;
    color: var(--text);
    margin: 0px 3%
}
img {
    border-radius: 8px;
}
  
img:hover {
     box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

.image:hover{
    opacity:100%;
}
.big-picture:hover{
    opacity:100%;
}

.bottom:hover {
    text-decoration:underline;
    font-size:110%;
}